{% extends 'layout.html' %}


{% block css %}
    <style>
        .permission-area tr.root {
            background-color: #f1f7fd;;
        }

        .menu-body tr.active {
            background-color: #f1f7fd;
            border-left: 3px solid #fdc00f;
        }


    </style>

{% endblock %}

{% block content %}
    <div style="margin-top: 20px">

        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-book"></i> 菜单管理
                    <a href="{% url 'rbac:menu_add' %}" class="btn btn-sm btn-success pull-right"
                       style="padding: 2px 7px;margin-top: -2px"> <i
                            class="fa fa-plus"></i> 添加</a></div>

                <table class="table  table-hover">
                    <thead>
                    <tr>
                        <th>名称</th>
                        <th>图标</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody class="menu-body">

                    {% for menu in all_menus %}
                        <tr {% if mid == menu.pk|safe %}class="active"{% endif %}>


                            <td><a href="?mid={{ menu.pk }}">{{ menu.title }}</a></td>
                            <td><i class="fa {{ menu.icon }}"></i></td>
                            <td>
                                <a href="{% url 'rbac:menu_edit' menu.pk %}"><i class="fa fa-edit"></i></a>
                                <a href="{% url 'rbac:delete' 'menu' menu.pk %}"
                                ><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>

            </div>

        </div>
        <div class="col-sm-9">

            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-cubes"></i> 权限管理
                    <a  href="{% url 'rbac:multi_permissions' %}" class="btn btn-sm btn-primary pull-right" style="padding: 2px 7px;margin-top: -2px"> <i
                            class="fa fa-mail-forward"></i> 批量操作</a>
                    <a href="{% url 'rbac:permission_add' %}" class="btn btn-sm btn-success pull-right"
                       style="padding: 2px 7px;margin-top: -2px"> <i
                            class="fa fa-plus-circle"></i> 添加</a>

                </div>
                <table class="table  table-hover">
                    <thead>
                    <tr>
                        <th>名称</th>
                        <th>URL</th>
                        <th>URL别名</th>
                        <th>菜单</th>
                        <th>所属菜单</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody class="permission-area">

                    {% for permission in all_permissions.values %}
                        <tr class="root" id="{{ permission.id }}">
                            <td><i class="fa fa-caret-down"></i> {{ permission.title }}</td>
                            <td>{{ permission.url }}</td>
                            <td>{{ permission.name }}</td>
                            <td> {% if permission.menu_id %}是{% endif %}</td>
                            <td>{{ permission.menu__title|default:'' }}</td>

                            <td>
                                <a href="{% url 'rbac:permission_edit' permission.id %}"><i class="fa fa-edit"></i></a>
                                <a href="{% url 'rbac:delete' 'permission' permission.id %}"
                                ><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        {% for c_permission in permission.children %}
                            <tr pid="{{ c_permission.parent_id }}">
                                <td>{{ c_permission.title }}</td>
                                <td>{{ c_permission.url }}</td>
                                <td>{{ c_permission.name }}</td>
                                <td> {% if c_permission.menu_id %}是{% endif %}</td>
                                <td>{{ c_permission.menu__title|default:'' }}</td>

                                <td>
                                    <a href="{% url 'rbac:permission_edit' c_permission.id %}"><i
                                            class="fa fa-edit"></i></a>
                                    <a href="{% url 'rbac:delete' 'permission' c_permission.id %}"
                                    ><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>

                        {% endfor %}


                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

    </div>


{% endblock %}


{% block js %}

    <script>
        $('.root').click(function () {
            var id = $(this).attr('id');
            $("[pid=" + id + "]").toggleClass('hidden')
            var i = $(this).find('i').eq(0)
            if (i.hasClass('fa-caret-down')) {
                i.removeClass('fa-caret-down').addClass('fa-caret-right')
            } else {
                i.removeClass('fa-caret-right').addClass('fa-caret-down')

            }
        })

    </script>

{% endblock %}